/* Colors */
/*
#171c17 - Black
#efdbc7 - Beige
#17d7bb - Turquoise
#85af8e - Light greyish green
#9fa584 - Yellowish grey
#865a46 - Brown
#e69f81 - Salmon
#285f45 - Green
#61c4a3 - Blueish green
#585d4e - Brownish grey
*/

body {
    font-family: 'Libre Franklin', sans-serif;
    color: #efdbc7;
    background-color: #171c17;
}

.container {
    max-width: 1200px;
}

/* Profile picture */
.img-container {
    position: relative;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.img-container:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0;
}

@media (max-width: 768px) {
    .img-container {
        margin: 1rem 0;
    }
}

/* Navigation bar */
.navbar {
    margin-bottom: 20px;
}

.navbar-custom {
    background-color: #285f45
}

/* Navigation links */
.navbar-custom .nav-link {
    color: #efdbc7;
}

.navbar-custom .nav-link:hover {
    color: #e69f81;
}

.navbar-custom .nav-link.active {
    color: #e69f81;
}

/* Brand name */
.navbar-custom .navbar-brand {
    color: #efdbc7;
}

.navbar-custom .navbar-brand:hover {
    color: #e69f81;
}

/* Social media icons */
.social-icon {
    color: #efdbc7;
}

.social-icon:hover {
    color: #e69f81;
}

/* Buttons */
.btn-custom {
    background-color: #285f45;
    border-color: #efdbc7;
    color: #efdbc7;
}

.btn-custom:hover {
    background-color: #efdbc7;
    border-color: #285f45;
    color: #285f45;
}

.resume-container {
    background-color: #285f45;
    color: #EBEBEB;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

/* Text colors */
h1, h2, h3, h4, h5, h6 {
    color: #efdbc7;
}

p {
    color: #efdbc7;
}

a {
    color: #85af8e;
}

/* Vertical divider */
.navbar-custom .vr {
    color: #e69f81;
}

/* Home page */
.accordion-button {
    color: #3F403F;
}

.accordion-button:not(.collapsed) {
    background-color: #ABD8D7;
}

/* Projects page */
.border-custom {
    border-style: solid;
    border-color: #285f45;
    border-radius: 5px;
    border-width: 2px;
}

.project-custom {
    color: #3F403F;
    background-color: #9fa584;
    padding: 10px;
    border-radius: 5px;
}

.project-custom h3 {
    color: #3F403F;
}

.project-custom p {
    color: #3F403F;
}